doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="vieport" content="device-width")
		title
			block title
		// CSS
		link(rel="stylesheet" type="text/css" href="main.css")
	body
		.wrapper
			.body-app
				img.logo(src="img/logo.png")
				.header 
					.title-app Выберите друзей
					.close-app
				.search-panel
					.search-panel__block.left
						input(class="search-panel__input left" type="text" placeholder="Начните вводить имя друга")
					.search-panel__block.right
						input(class="search-panel__input right" type="text" placeholder="Название")
				.friend-lists
					.friend-lists__list
						.list__head Ваши друзья
						.list__items
							.list__item
								img.list__avatar(src="http://lorempixel.com/45/45/people/1")
								.list__name Artem Barabanov
								.list__plus
					.friend-lists__list
						.list__head Друзья в списке
						.list__items
							.list__item
								img.list__avatar(src="http://lorempixel.com/45/45/people/2")
								.list__name Михаил Подольский
								.list__cross
				.footer
					button(class="save__button" type="button") Сохранить
		script(src="libs.js")
		script(src="app.js")
