doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="vieport" content="device-width")
		title
			block title
		// CSS
		link(rel="stylesheet" type="text/css" href="/css/main.css")
		// modernizr
		script(src="bower/modernizr/modernizr.js")
	body
		.wrapper
			textarea#textjson
			button#buttonjson Скачать JSON
			input#texttown
		script(src="bower/jquery/dist/jquery.js")
		script(src="js/main.js")