doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="vieport" content="device-width")
		title
			block title
		// CSS
		link(rel="stylesheet" type="text/css" href="main.css")
		// Yandex API
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
	body
		#body-map

		script(src="app.js")
