doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="vieport" content="device-width")
		title
			block title
		// CSS
		link(rel="stylesheet" type="text/css" href="main.css")
		// Yandex API
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
	body
		#body-map
		#feedback
			.header
				.header__left
					.address__icon
					.address__text Невский пр., 78, Санкт-Петербург, 191025
				.header__right
					.cross
			ul.feeds
				li.feeds__item
					.feeds__head
						.feeds__name svetlana
						.feeds__address Шоколадница 
						.feeds__date 13.12.2015
					.feeds__text Очень хорошее место
				li.feeds__item
					.feeds__head
						.feeds__name Сергей мелюков
						.feeds__address-date Красный куб 12.12.2015
					.feeds__text Ужасное место! Кругом зомби!!!!!
			.feed
				.feed__head Ваш отзыв
				input(class='feed__name' type='text' placeholder='Ваше имя')
				input(class='feed__place' type='text' placeholder='Укажите место')
				textarea(class='feed__text' placeholder='Поделитесь впечатлениями')
				.feed__bottom.clearfix
					button.feed__submit Добавить
		script(src="app.js")
