.wrapper 
	position relative
	width 100%
	height 100%
	background-color #999999

.body-app
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	margin auto
	width 620px
	height 490px
	border-radius 10px
	

.logo
	position absolute
	top -45px
	left 50%
	transform translateX(-50%)
	z-index 1
	
.header
	position relative
	width 100%
	background-color #ff8663
	border-radius 10px 10px 0 0
	
.title-app
	display block
	box-sizing border-box
	width 100%
	padding 10px 15px
	font-family FiraSans_Medium
	font-size 16px
	color white
	
.close-app
	position absolute
	top 15px
	right 15px
	width 14px
	height 14px
	background url('img/white-cross.png') 0 0 no-repeat
	cursor pointer

.search-panel
	width 100%
	background-color #f0f0f0
	white-space nowrap
	&__block
		position relative
		display inline-block
		box-sizing border-box
		width 50%
		padding 10px 15px	
		&:after
			position absolute
			content ''
			width 13px
			height 15px
			top 15px
			left 22px
			background url('img/search.png') 0 0 no-repeat
	&__input
		box-sizing border-box
		width 100%
		padding 0 25px
		border 0
		border-radius 13px
		font-family FiraSans_Light
		font-size 12px
		color #4f4f4f
		line-height 26px
		&[placeholder]
			color #4f4f4f
			

.friend-lists
	white-space nowrap
	background-color white
	&__list
		display inline-block
		width 50%

.list
	&__head
		box-sizing border-box
		padding 8px 4px 2px
		margin 0 auto
		width calc(100% - 20px)
		font-family FiraSans_Medium
		font-size 12px
		color #4f4f4f
		border-bottom 1px #f0f0f0 solid
	&__items
		box-sizing border-box
		width 100%
		height 320px
		overflow scroll
		padding 0 15px
	&__item
		position relative
		box-sizing border-box
		width 100%
		padding 5px
		border-bottom 1px black solid
	&__avatar
		display inline-block
		border-radius 50%
		width 45px
		height 45px
	&__name
		display inline-block
		font-family FiraSans_Medium
		font-size 12px
		vertical-align top
		line-height 45px
		color #4f4f4f
		margin-left 5px
	&__plus
		position absolute
		display inline-block
		top 20px
		right 10px
		width 16px
		height 16px
		background url('img/plus.png') 0 0 no-repeat
		cursor pointer
	&__cross
		position absolute
		display inline-block
		top 20px
		right 10px
		width 16px
		height 16px
		background url('img/cross.png') 0 0 no-repeat
		cursor pointer
	
.footer
	position absolute
	bottom 0
	left 0
	width 100%
	background-color #f0f0f0
	border-radius 0 0 10px 10px
	text-align right

.save__button
	display inline-block
	box-sizing border-box
	padding 6px 15px
	margin 8px
	background-color #ff8663
	border-radius 12px
	border 0
	font-family FiraSans_Light
	font-size 12px
	color white
	