.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
#check-cookie {
	position:absolute;
	width: 100px;
	height: 20px;
	top: 50px;
	left: 50px;
}
#cookies-body {
	position:absolute;
	top: 90px;
	left: 50px;
}