@font-face {
    font-family: 'FiraSans_Medium';
    src: url('fonts/firasans-medium.eot');
    src: url('fonts/firasans-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-medium.woff') format('woff'),
         url('fonts/firasans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FiraSans_Light';
    src: url('fonts/firasans-light.eot');
    src: url('fonts/firasans-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-light.woff') format('woff'),
         url('fonts/firasans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}